[Unit]
Description=Unpack Docker images on first boot
Requires=docker.service
After=docker.service
Before=kubelet.service

[Service]
Type=oneshot
ExecStart=/etc/systemd/scripts/load-images
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
