[Unit]
Description=NAT
Requires=apply-settings.service
After=apply-settings.service

[Service]
Type=oneshot
EnvironmentFile=/etc/paxautoma/settings
ExecStart=/etc/systemd/scripts/nat
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
