[Unit]
Description=Update Kubernetes add-ons
Requires=kubelet.service
After=kubelet.service

[Service]
Type=oneshot
ExecStart=/etc/systemd/scripts/start-addons
